body,html {
    margin:0;
    padding:0;
    font-family: monospace;
    background: black;
    color: #fff;
}

body {
    background: url(./images/cyber.jpg) repeat center center fixed;
    background-size: cover;
}

h1 {color: black;
}
header {
    margin-top: 1em;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 0px;
}

header > h1 {
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 1em;
    background-color: #fff;
    padding: 0.3em 1.6em;
    border: 1px solid #fffaff;
}

ul {
    box-sizing: border-box;
    list-style:  none;
    margin: 0 auto;
    padding: 4em;
    box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 0px;
    max-width: 50%;
}

ul > li {
    background-color: #fffa;
    backdrop-filter: blue(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blue(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    padding: 1em;
    margin: 1.4em 0;

}

ul > li > a {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 0.5em;
}

a {
    color:black;
    text-decoration: none;

}

#vanta {
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}